<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/login.css">
    <title>Login</title>
</head>
<body>

    <div id="change" class="box">
        <%- include('./partials/error')  %> 

        <form id="form" action="/auth/login" method="POST">
        <h2><span>Login</span><span>Recover My Password</span></h2>
        <input name="userName" type="text" placeholder="Username" class="username" />
        <input name="passWord"  type="password" placeholder="Password" class="password" />
        
        <a id="forgotPwd"><span>Forgot password ?</span>
        
        </a>
        
        
        <button type="submit"><span>Sign In</span>   <span>Recover My Password</span></button>
    </form>
        
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../javascripts/forgetPwd.js"></script>
</body>
</html>